@{
    ViewBag.Title = "testTable";
}
<link href="../../style/Style.css" rel="stylesheet" type="text/css" />
<h2>
    testTable</h2>
<table class="tbHeading" width="100%" align='center' cellpadding='0' cellspacing='0'
    style='table-layout: fixed'>
    <tr>
        <td>
            Heading1
        </td>
        <td>
            Heading222222222222222222 is bigg
        </td>
        <td>
            Heading33333
        </td>
        <td>
            Heading4
        </td>
        <td>
            Heading5
        </td>
    </tr>
</table>
<div id="dvData" class="FixedHeightContainer">
    <table id="tabdata" class="clData" width="100%" align='center' cellpadding='0' cellspacing='0' style='table-layout: fixed'>
        <tr>
            <td>
                val1
            </td>
            <td>
                val22222222222222222222 ffff dddd
            </td>
            <td>
                val3
            </td>
            <td>
                val4
            </td>
            <td>
                val5
            </td>
        </tr>
        <tr>
            <td>
                val1 rfgdg ggg
            </td>
            <td>
                val222222222222 22222222 ffff dddd
            </td>
            <td>
                val3
            </td>
            <td>
                va gfgfgl4
            </td>
            <td>
                val5
            </td>
        </tr>
        <tr>
            <td>
                val1
            </td>
            <td>
                val22222222222222222222 ffff dddd
            </td>
            <td>
                val355
            </td>
            <td>
                val4666666666666666666666 66 f
            </td>
            <td>
                val5
            </td>
        </tr>
        <tr>
            <td>
                val fhhth gfgfgfgfg1
            </td>
            <td>
                val22222222222222222222 ffff dddd
            </td>
            <td>
                val3
            </td>
            <td>
                val4 ggg fgfg rrr
            </td>
            <td>
                val5 rgr
            </td>
        </tr>
        <tr>
            <td>
                val fhhth gfgfgfgfg1
            </td>
            <td>
                val22222222222222222222 ffff dddd
            </td>
            <td>
                val3
            </td>
            <td>
                val4 ggg fgfg rrr
            </td>
            <td>
                val5 rgr
            </td>
        </tr>
        <tr>
            <td>
                val fhhth gfgfgfgfg1
            </td>
            <td>
                val22222222222222222222 ffff dddd
            </td>
            <td>
                val3
            </td>
            <td>
                val4 ggg fgfg rrr
            </td>
            <td>
                val5 rgr
            </td>
        </tr>
    </table>
</div>
